use std::{thread, time};
fn main()
{
let mut milis = time::Duration::from_millis(10);
for j in 0..10
{
print!(">>>>>>>>>>>>>>>>>>>>>>>>>>>>");
println!(">>>>>>>>>>>>>>>>>>>>>>>>>>>>");
for i in 0..50
{
println!();
if j>=5
{
milis=time::Duration::from_millis(20);
}
if j>=7
{
milis=time::Duration::from_millis(60);
}
thread::sleep(milis);
}

}

}